doctype html
html(lant="ko")
  head
    //- controller에서 pageTitle 변수를 받아옴
    title #{ pageTitle } | #{ sitename }
    link(rel="stylesheet", href="https://unpkg.com/mvp.css")
  body
    header
      h1= pageTitle
      nav
        ul
          li
            a(href="/") Home
          if loggedIn
            li
              a(href="#") #{ loggedInUser.name }'s Profile
            li
              a(href="/users/logout") Logout
          else
            li
              a(href="/login") Login
            li
              a(href="/join") Join
          li
            a(href="/videos/upload") Upload
          li
            a(href="/search") Search
    main
      block content
  include ./partials/footer.pug
