extends base.pug
include mixins/video

block content
  h1 비디오 리스트
  ul
    //- iteration
    each video in videos
      //- mixin사용
      +makeVideoDiv(video)
    else
      span.empty_message No Videos found
