extends base.pug
include mixins/video.pug

block content 
    form(method="GET")
        input(placeholder="Search Video", type="text", name="keyword")
        input(type="submit", value="Search")
    
    div
        each video in videos 
            +makeVideoDiv(video)