extends ../base

block content
  if errMessage
    span= errMessage
  form(method="POST")
    input(placeholder="변경 전 비밀번호", name="oldPassword", type="password")
    input(placeholder="새 비밀번호", name="newPassword", type="password")
    input(placeholder="새 비밀번호 확인", name="newPassword1", type="password")
    input(type="submit", value="변경")
